<!DOCTYPE html>
<html lang="en">
<head>
   {% load static %}
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{% static 'src/css/styles.css' %}">
   <script defer src="{% static 'src/js/index.js' %}"></script>
   <title>Dashboard</title>
</head>
<body>
   <nav>
      <ul>
         <li>Temperature</li>
         <li>Humidity</li>
         <li>VOC</li>
      </ul>
   </nav> 
   <main>
      <h1>Value of today</h1>
      <button id="fetchTemperatures">Werte</button>
      {% load tz %}

{% timezone "Europe/Paris" %}
    Paris time: {{ value }}
{% endtimezone %}

{% timezone None %}
    Server time: {{ value }}
{% endtimezone %}
   </main>
   <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>
</html>